@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
    background-position: 0px 0px, right 0 bottom 0em;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1440px;
    margin: 100px auto;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.main .rating {
    justify-self: end;
}

.lead h1 {
    font-size: 3.7rem;
    margin-bottom: 20px;
    color: hsl(300, 43%, 22%);
}

.lead p {
    font-size: 1.3rem;
    line-height: 1.5;
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}

.rated {
    display: flex;
    align-items: center;
    background: hsl(300, 24%, 96%);
    border-radius: 10px;
    max-width: 445px;
    font-size: 1.1rem;
    font-weight: bold;
    color: hsl(300, 43%, 22%);
    padding: 20px 30px;
    margin-bottom: 15px;
}

.rated .stars {
    margin-right: 30px;
}

.rated:nth-of-type(1) {
    position: relative;
    right: 80px;
}

.rated:nth-of-type(2) {
    position: relative;
    right: 40px;
}

.testimonials {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.testimonials .card {
    background: hsl(300, 43%, 22%);
    flex: 1 1 350px;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 40px 30px;
    font-size: 1.1em;
    font-weight: 500;
}

.testimonials .card:nth-of-type(2),
.testimonials .card:nth-of-type(3) {
    margin-left: 20px;
}

.testimonials .card:nth-of-type(2) {
    position: relative;
    top: 20px;
}

.testimonials .card:nth-of-type(3) {
    position: relative;
    top: 40px;
}


.testimonials .card .card__header {
    display: flex;
    margin-bottom: 20px;
}

.testimonials .card .card__header p {
    color: hsl(333, 80%, 67%);
}

.testimonials .card .card__header img{
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

@media(max-width: 992px) {
    .container {
        max-width: 768px;
        margin: 100px auto;
    }

    .rated {
        display: block;
        text-align: center;
    }

    .rated .stars {
        margin: 0 0 10px 0;
    }

    .rated:nth-of-type(1),
    .rated:nth-of-type(2) {
        position: static;
    }

    .testimonials {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .testimonials .card:nth-of-type(2),
    .testimonials .card:nth-of-type(3) {
        position: static;
    }

    .testimonials .card:nth-of-type(3) {
        margin: 20px 0 0 0;
    }
}

@media(max-width: 768px) {
    body {
        background-image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
        background-position: 0px 0px, right 0 bottom 0em;
        background-repeat: no-repeat;
    }

    .container {
        max-width: 375px;
        margin: 20px auto;
    }

    .main {
        display: block;
        text-align: center;
        margin: 100px 0 50px 0;
    }

    .main .lead h1 {
        font-size: 2.7rem;
    }

    .main .lead p {
        margin-bottom: 30px;
    }

    .testimonials {
        display: block;
        margin-top: 40px;
    }

    .testimonials .card {
        min-width: 100%;
        min-height: 248px;
    }

    .rated {
        display: block;
        text-align: center;
    }

    .rated .stars {
        margin: 0 0 10px 0;
    }

    .rated:nth-of-type(1),
    .rated:nth-of-type(2) {
        position: static;
    }

    .testimonials .card:nth-of-type(2),
    .testimonials .card:nth-of-type(3) {
        margin-left: 0px;
        margin-top: 20px;
    }

    .attribution {
        margin-top: 50px;
    }
}